###> symfony/framework-bundle ###
/www/.env.local
/www/.env.local.php
/www/.env.*.local
/www/.env.test
/www/public/bundles/
/www/var/
/www/vendor/
###< symfony/framework-bundle ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###< IDEs ###
/www/.idea
/.idea
###> IDEs ###

###< CI and QA ###
/data/
###> CI and QA ###
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
phpunit.xml
phpunit.xml.dist
/www/bin/phpunit
###< symfony/phpunit-bridge ###